@page "/foodstock"
@using LMS.Services;
@using LMS.Shared;
@using LMS.Models;
@using LMS.Pages;

<h3>Food Stock</h3>
<p>This page shows all of your products currently available in your food stock!</p>
<div class="border" style="padding: 20px;">
    <ListDisplay FoodList="ProductService.FoodStock" This_ListType="ListTypesEnum.ListTypes.FoodStock" Other_ListType="ListTypesEnum.ListTypes.ShoppingList"></ListDisplay>
</div>