@page "/foodstock"
@using LMS.Services;
@using LMS.Shared;
@using LMS.Models;

<h3>FoodStock</h3>
<p>This page shows all of your products currently available in your food stock!</p>


@foreach (var product in ProductService.ProductQuantityFoodStock)
{
    <ProductDisplay Product_Name="@product.Key" Quantity="@product.Value" OnProductRemoved="@RemoveProduct" OnProductMoved="@MoveProductToOtherList"/>
}

@code {

    protected override void OnInitialized()
    {
        ProductService.FoodStockToDictionary();
    }


    private void RemoveProduct(string productName)
    {
        ProductService.RemoveProduct(productName, ListTypesEnum.ListTypes.FoodStock);
    }

    private void MoveProductToOtherList(string productName)
    {
        RemoveProduct(productName);
        Console.WriteLine("MoveProductToOtherList" + productName);
        ProductService.MoveProduct(productName, ListTypesEnum.ListTypes.ShoppingList);
        StateHasChanged();
    }
}