@page "/"
@using LMS.Services;
@inject IProductService _productService;

<PageTitle>Food management system</PageTitle>

<h3>Welcome to the food management system!</h3>

<p>This system will be your helper to fight against food waste, having a better overview in your food stock and acts as a shopping list helper.</p>

 
<div class="border" style="padding: 20px;">
    <h4>New Product</h4>
    <ProductForm OnItemAdded="@ItemsChanged" />
</div>




<div class="border" style="padding: 20px; margin-top: 20px;">
    <div style="display: flex; flex-direction: column">
        @foreach (var todo in Products)
        {
            <div style="display: flex; margin-bottom: 10px;">
                <div style="display: flex; align-items: center;margin-bottom: 10px;">
                    <div class="@ItemClass(todo)" style="width: 280px;">@todo.Product_Name</div>
                </div>
                <div>
                    <button class="btn btn-danger" onclick="@(() => DeleteItem(todo))">Delete</button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private IList<Product> Products { get; set; } = new List<Product>();

    protected override void OnInitialized()
    {
        Products = _productService.GetAllItems().ToList();
    }

    public string ItemClass(Product item)
    {
        return "";
    }

    public void ItemsChanged()
    {
        Products = _productService.GetAll().ToList();
        StateHasChanged();
    }

    public void DeleteItem(Product item)
    {
        _productService.Delete(item);
        ItemsChanged();
    }
} 