@page "/"
@using LMS.Services;
@inject IProductService _productService;

<PageTitle>Food management system</PageTitle>

<h3>Welcome to the food management system!</h3>

<p>This system will be your helper to fight against food waste, having a better overview in your food stock and acts as a shopping list helper.</p>

 

@code {

} 