@page "/shoppinglist"
@using LMS.Services;
@using LMS.Shared;
@using LMS.Models;

<h3>ShoppingList</h3>

 
@foreach(var product in ProductService.ProductQuantityShoppingList)
{
    <ProductDisplay Product_Name="@product.Key" Quantity="@product.Value" OnProductRemoved="@RemoveProduct" OnProductMoved="@MoveProductToOtherList"/>
} 



@code {

    protected override void OnInitialized()
    {
        ProductService.ShoppingListToDictionary();
    }

    private void RemoveProduct(string productName)
    {
        ProductService.RemoveProduct(productName, ListTypesEnum.ListTypes.ShoppingList);
        StateHasChanged();
    }

    private void MoveProductToOtherList(string productName)
    {
        RemoveProduct(productName);
        Console.WriteLine("MoveProductToOtherList" + productName);
        ProductService.MoveProduct(productName, ListTypesEnum.ListTypes.FoodStock);
        StateHasChanged();
    }
}