@page "/statistics"
@inherits LMS.Statistics


<h3>Statistics</h3>

<h4>Total scanned products:</h4>
<p>@TotalScannedProducts</p>

<h4>Total scanned products in shopping list:</h4>
<p>@TotalScannedProductsShoppingList</p>


<h4>Total scanned products in food stock:</h4>
<p>@TotalScannedProductsFoodStock</p>