<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Menu</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <i class="material-icons">home</i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoppinglist">
                <i class="material-icons">receipt_long</i> Shopping list
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foodstock">
                <i class="material-icons">kitchen</i> Food stock
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistics">
                <i class="material-icons">bar_chart</i> Statistics
            </NavLink>
        </div>
        @*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>

