@using LMS.Services;
@using LMS.Models;

@* <div class="@CheckExpiryDate()"> *@
<div>
    <p>Product Name: @Product_Name Quantity: @Quantity <button @onclick="RemoveQuantity">Remove Quantity</button></p>
</div> 


@code {
    [Parameter]
    public string? Product_Name { get; set; }

    [Parameter]
    public int Quantity { get; set; }

    [Parameter]
    public EventCallback<string> OnProductRemoved { get; set; }

    private async Task RemoveQuantity()
    {
        RemoveProduct();
        StateHasChanged();
    }

    // protected override void OnInitialized()
    // {
    //     CheckExpiryDate();
    // }

    private async Task RemoveProduct()
    {
        await OnProductRemoved.InvokeAsync(Product_Name);
    }

    // private string CheckExpiryDate()
    // {
    //     return Product?.ExpiryDate < DateTime.Now ? "expired" : "not-expired";
    // }
}
