@using LMS.Services;
@using LMS.Models;
@using LMS.Pages;
@inject IModalService model

<div class="productDisplay @SetExpirationDateColorCoding()">
    <p>@Product_Name </p>
    <p>@Quantity</p>
    <p>@ExpirationDate</p>

        <div class="buttonContainer">
            <button @onclick="RemoveQuantity"><i class="material-icons">delete</i></button>
            <button @onclick="EditExpirationDate"><i class="material-icons">edit_calendar</i></button>
            <button @onclick="MoveProduct"><i class="material-icons">input</i></button>
        </div>
 
</div> 


@code {
    [Parameter]
    public string? Product_Name { get; set; }

    [Parameter]
    public int Quantity { get; set; }

    [Parameter]
    public DateOnly ExpirationDate { get; set; }

    [Parameter]
    public EventCallback<string> OnProductRemoved { get; set; }

    [Parameter]
    public EventCallback<string> OnProductMoved { get; set; }

    [Parameter]
    public EventCallback<DateOnly> OnExpirationDateChanged { get; set; }

    protected override void OnInitialized()
    {
        SetExpirationDateColorCoding();
    }

    private string SetExpirationDateColorCoding()
    {        
        DateOnly currentDate = DateOnly.FromDateTime(DateTime.Today);

        if (ExpirationDate >= currentDate.AddDays(7)) // 7 - infinite days
        {
            return "expirationDateGreen";
        }
        else if (ExpirationDate >= currentDate.AddDays(3)) // 3 - 6 days
        {
            return "expirationDateYellow";
        }
        else if (ExpirationDate >= currentDate.AddDays(1)) // 1 - 2 days
        {
            return "expirationDateOrange";
        }
        else if (ExpirationDate == currentDate) // today
        {
            return "expirationDateRed"; 
        }
        else
        {
            return "expirationDatePurple"; // expired
        }
    }


    private async Task EditExpirationDate()
    {
        var parameters = new ModalParameters()
        .Add(nameof(ExpirationDatePopup.ProductName), Product_Name)
        .Add(nameof(ExpirationDatePopup.ExpirationDate), ExpirationDate);

        var messageForm = model.Show<ExpirationDatePopup>("Edit Expiration Date", parameters);
        var result = await messageForm.Result;

        if (result.Confirmed)
        {
            ExpirationDate = (DateOnly) result.Data;
            await OnExpirationDateChanged.InvokeAsync(ExpirationDate);
            StateHasChanged();
        }
    }

    private async Task RemoveQuantity()
    {
        await OnProductRemoved.InvokeAsync(Product_Name);
        StateHasChanged();
    }

    private async Task MoveProduct()
    {
        await OnProductMoved.InvokeAsync(Product_Name);
        StateHasChanged();
    }

}
