@using LMS.Services;
@using LMS.Models;

<div class="productDisplay">
    <p>@Product_Name </p>
    <p>@Quantity</p>

        <div class="buttonContainer">
            <button @onclick="RemoveQuantity"><i class="material-icons">delete</i></button>
            <button @onclick="MoveProduct"><i class="material-icons">input</i></button>
        </div>
 
</div> 


@code {
    [Parameter]
    public string? Product_Name { get; set; }

    [Parameter]
    public int Quantity { get; set; }

    [Parameter]
    public EventCallback<string> OnProductRemoved { get; set; }

    [Parameter]
    public EventCallback<string> OnProductMoved { get; set; }

    private async Task RemoveQuantity()
    {
        await OnProductRemoved.InvokeAsync(Product_Name);
        StateHasChanged();
    }

    private async Task MoveProduct()
    {
        await OnProductMoved.InvokeAsync(Product_Name);
        StateHasChanged();
    }

}
