/* EXPIRATION DATES */
.expirationDateGreen {
    background-color: #b6ff00;
}

.expirationDateYellow {
    background-color: #fffb00;
}

.expirationDateOrange {
    background-color: #ff8c00;
}

.expirationDateRed {
    background-color: #ff0000;
}

.expirationDatePurple {
    background-color: #800080;
}

.productDisplay {
    border: 1px solid black;
    padding: 10px;
    float: left;
    margin-right: 10px;
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
}


.productDisplay p {
    text-align: center;
}

.productDisplay button {
    margin: 0 auto;
    display: block;
}

.buttonContainer {
    display: flex;
    justify-content: space-around; /* Buttons gleichmäßig verteilen */
    width: 100%; /* Nimmt die gesamte Breite des Containers ein */
    position: absolute;
    bottom: 10px;
}

.expired {
    background-color: #8a2f2f;
}

.not-expired{
    background-color: #b6ff00;
}

